<div class="container">
	<table class="table">
	<thead class="thead-dark">
		<tr>
			<th>STANDARD</th>
			<th colspan="2">Fees Per Month</th>
			<th colspan="2">Fees Per Year</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td>CBSC</td>
			<td>SSC</td>
			<td>CBSC</td>
			<td>SSC</td>
		</tr>
		<tr>
			<td>First Standard</td>
			<td>400</td>
			<td>350</td>
			<td>4500</td>
			<td>4300</td>
		</tr><tr>
			<td>Second Standard</td>
			<td>400</td>
			<td>350</td>
			<td>4500</td>
			<td>4300</td>
		</tr><tr>
			<td>Third Standard</td>
			<td>400</td>
			<td>350</td>
			<td>4500</td>
			<td>4300</td>
		</tr><tr>
			<td>Fourth Standard</td>
			<td>500</td>
			<td>450</td>
			<td>5000</td>
			<td>4600</td>
		</tr><tr>
			<td>Fifth Standard</td>
			<td>550</td>
			<td>500</td>
			<td>5500</td>
			<td>5000</td>
		</tr><tr>
			<td>Sixth Standard</td>
			<td>600</td>
			<td>550</td>
			<td>6000</td>
			<td>5500</td>
		</tr><tr>
			<td>Seventh Standard</td>
			<td>850</td>
			<td>800</td>
			<td>9500</td>
			<td>9000</td>
		</tr><tr>
			<td>Eighth Standard</td>
			<td>850</td>
			<td>800</td>
			<td>9500</td>
			<td>9000</td>
		</tr><tr>
			<td>Nineth Standard</td>
			<td>900</td>
			<td>900</td>
			<td>10000</td>
			<td>10000</td>
		</tr><tr>
			<td>Tenth Standard</td>
			<td>1000</td>
			<td>1000</td>
			<td>12000</td>
			<td>12000</td>
		</tr>
	</tbody>
</table>
</div>